.PummelGameHud
{
    width: 100%;
    height: 100%;
}

.HubLobbyHud
{
    width: 100%;
    height: 100%;
}

.PlayersList
{
    flow-children: down;
    margin-top: 60px;
}

.player_panel
{
    flow-children: none;
    margin-bottom: 10px;
}

.player_portrait
{
    width: 100px;
    height: 119px;
}

.player_info
{
    width: 271px;
    height: 59px;
    background-image: url("file://{images}/players_scores/interface_1.png");
    background-size: 100%;
}

.player_info_style_0
{
    background-image: url("file://{images}/players_scores/interface_1.png");
    background-size: 100%;
}
.player_info_style_1
{
    background-image: url("file://{images}/players_scores/interface_2.png");
    background-size: 100%;
}
.player_info_style_2
{
    background-image: url("file://{images}/players_scores/interface_3.png");
    background-size: 100%;
}
.player_info_style_3
{
    background-image: url("file://{images}/players_scores/interface_4.png");
    background-size: 100%;
}
.player_info_style_4
{
    background-image: url("file://{images}/players_scores/interface_5.png");
    background-size: 100%;
}

.player_name_bg
{
    width: 100px;
    height: 35px;
    vertical-align: bottom;
    margin-bottom: 15px;
    background-image: url("file://{images}/players_scores/name_bg.png");
    background-size: 100%;
}

.player_name_label
{
    vertical-align: center;
    margin-left: 70px;
    font-weight: semi-bold;
    font-family: Radiance;
    font-size: 16px;
    text-transform: uppercase;
    width: 100px;
    text-align: left;
    text-overflow: clip;
}

.hero_image_interface
{
    width: 80px;
    height: 100px;
    align: center center;
    opacity-mask: url("file://{images}/players_scores/hero_mask.png");
}

.player_keys_panel
{
    margin-left: 285px;
    flow-children: right;
    vertical-align: center;
    width: 63px;
    height: 46px;
    background-image: url("file://{images}/players_scores/key_bg.png");
    background-size: 100%;
}

.player_key_image
{
    width: 18px;
    height: 18px;
    vertical-align: center;
    margin-left: 5px;
}

.player_key_image_0
{
    background-image: url("file://{images}/players_scores/gem_green.png");
    background-size: 100%;
}
.player_key_image_1
{
    background-image: url("file://{images}/players_scores/gem_purple.png");
    background-size: 100%;
}
.player_key_image_2
{
    background-image: url("file://{images}/players_scores/gem_yellow.png");
    background-size: 100%;
}
.player_key_image_3
{
    background-image: url("file://{images}/players_scores/gem_blue.png");
    background-size: 100%;
}
.player_key_image_4
{
    background-image: url("file://{images}/players_scores/gem_red.png");
    background-size: 100%;
}

.player_key_quad
{
    vertical-align: center;
    font-size: 20px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #f2c954 ), to( #db7e31 ) );
    margin-left: 10px;
    font-weight: bold;
}

.player_key_count
{
    font-size: 18px;
    vertical-align: center;
    font-weight: semi-bold;
    color: white;
    margin-left: 10px;
}

.player_rewards_panel
{
    flow-children: right;
    margin-left: 175px;
    width: 80px;
    vertical-align: center;
}

.player_reward_image
{
    width: 25px;
    height: 21px;
    background-image: url("file://{images}/players_scores/reward.png");
    background-size: 100%;
}

.player_reward_quad
{
    vertical-align: center;
    font-size: 20px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #f2c954 ), to( #db7e31 ) );
    margin-left: 10px;
    font-weight: bold;
}

.player_reward_count
{
    font-size: 20px;
    font-weight: semi-bold;
    vertical-align: center;
    color: white;
    margin-left: 10px;
}

.player_health_line_main
{
    width: 112px;
    height: 22px;
    margin-left: 32px;
    vertical-align: bottom;
    margin-bottom: 10px;
    transform: skew(-20deg);
}

.player_health_line
{
    width: 100%;
    height: 100%;
    transition-property: width;
    transition-duration: 0.2s;
    background-color: rgb(30, 224, 30);
}

.player_health_label
{
    font-weight: bold;
    font-family: Reaver;
    align: center center;
    z-index: 10;
    font-size: 14px;
    transform: skew(20deg);
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 0px 3 black; 
}

// Game info
.GameInfo
{
    flow-children: down;
    horizontal-align: right;
    margin-top: 50px;
}

.ProgressCount
{
    flow-children: right;
    opacity: 0;
    visibility: collapse;
}

.ProgressCountHeader
{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100px;
    height: 40px;
}

.ProgressCountHeaderLabel
{
    align: center center;
    font-weight: semi-bold;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 0px 3 black; 
}

.ProgressCountMain
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 40px;
}

.ProgressCountMainLabel
{
    align: center center;
    font-weight: semi-bold;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 0px 3 black; 
}

.PlayersMoveCount
{
    flow-children: right;
    margin-top: 7px;
}

.PlayersMoveCountHeader
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 45px;
}

.PlayersMoveCountMain
{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    padding-right: 0px;
    flow-children: right-wrap;
}

.ProgressCountMainLabelMini
{
    align: center center;
    text-align: center;
    font-weight: semi-bold;
    color: white;
    font-size: 14px;
    text-shadow: 0px 0px 0px 2 black; 
}

.player_queue_block
{
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 1px solid black;
}

.time_notification_start
{
    font-size: 64px;
    color: rgb(255, 196, 0);
    font-weight: semi-bold;
    horizontal-align: center;
    margin-top: 20%;
    transition-property: pre-transform-scale2d, opacity;
    transition-duration: 0.2s;
    pre-transform-scale2d: 0;
    text-shadow: 0px 0px 5px 4 black;
    opacity: 1;
}

.time_notification
{
    font-size: 64px;
    color: white;
    font-weight: semi-bold;
    horizontal-align: center;
    margin-top: 20%;
    transition-property: pre-transform-scale2d, opacity;
    transition-duration: 0.2s;
    pre-transform-scale2d: 0;
    text-shadow: 0px 0px 0px 2 black;
    opacity: 1;
}

.time_notification_low
{
    pre-transform-scale2d: 1;
}

.time_notification_close
{
    opacity: 0;
}

// Hud
.GameHudInterface
{
    vertical-align: bottom;
    flow-children: none;
    horizontal-align: center;
}

.HeroNameAndPortrait
{
    horizontal-align: left;
    margin-left: 35px;
    vertical-align: bottom;
    flow-children: down;
    transform: translateY(30px);
}

.HudHeroPortrait
{
    width: 215px;
    height: 215px;
}

.HeroHudHeroName
{
    width: 100%;
    horizontal-align: center;
}

.PlayerAbilities
{
    width: 920px;
    height: 94px;
    vertical-align: bottom;
    margin-left: 265px;
    flow-children: right;
}

// Mini Gamepre
.PreMiniGameHud
{
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/pre_minigame/bg.png");
    background-size: 100%;
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
}

.DesignLinePreGame
{
    horizontal-align: center;
    margin-top: 50px;
    width: 700px;
    height: 4px;
    background-color: #3fe010;
}

.PreGameInfoWindow
{
    horizontal-align: right;
    margin-top: 150px;
    margin-right: 250px;
}

.PreGameInfoBorder
{
    width: 683px;
    height: 396px;
    background-image: url("file://{images}/pre_minigame/video_border.png");
    background-size: 100%;
}

.PreGameInfoShadow
{
    width: 511px;
    height: 106px;
    background-image: url("file://{images}/pre_minigame/video_shadow.png");
    background-size: 100%;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 40px;
    opacity: 0.95;
}

.MiniGameInfoName
{
    color: #37fa0e;
    text-transform: uppercase;
    font-size: 28px;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 95px;
    text-align: center;
}

.MiniGameInfoDescription
{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 65px;
}

.MiniGameInformationWarning
{
    vertical-align: bottom;
    horizontal-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.InstructionBlockName
{
    background-color: rgba(34, 34, 34, 0.8);
    width: 670px;
    height: 80px;

    horizontal-align: right;
    margin-top: 150px;
    margin-right: 250px;
    margin-top: 600px;
}

.InstructionBlockDescription
{
    background-color: rgba(34, 34, 34, 0.8);
    width: 670px;
    height: 250px;
    horizontal-align: right;
    margin-top: 150px;
    margin-right: 250px;
    margin-top: 700px;
}

.InstructionName
{
    color: #37fa0e;
    font-family: Reaver;
    text-transform: uppercase;
    font-weight: semi-bold;
    font-size: 28px;
    vertical-align: center;
    horizontal-align: left;
    margin-left: 20px;
    text-align: center;
}

.InstructionDescription
{
    color: white;
    font-family: Reaver;
    text-transform: uppercase;
    font-weight: semi-bold;
    font-size: 14px;
    horizontal-align: left;
    margin-left: 30px;
    margin-top: 30px;
    width: 600px;
}

.MiniGamePreTimer
{
    horizontal-align: center;
    color: white;
    font-size: 28px;
    margin-top: 5px;
    font-weight: bold;
    font-family: Reaver;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 0px 3 black; 
}

.ReadyButton
{
    width: 357px;
    height: 78px;
    background-image: url("file://{images}/hero_selection/ready_button.png");
    background-size: 100%;
    vertical-align: bottom;
    horizontal-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
    transition-property: background-img-opacity;
    transition-duration: 0.2s;
    background-img-opacity: 0.3;
}

.ReadyButton:hover
{
    background-img-opacity: 0.6;
}

.ReadyButtonLabel
{
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: semi-bold;
    align: center center;
}

.PlayersListPreGame
{
    flow-children: down;
    margin-left: 100px;
    margin-top: 100px;
}

.PlayerPanel
{
    width: 360px;
    height: 72px;
    background-image: url("file://{images}/hero_selection/player_bg_1.png");
    background-size: 100%;
    flow-children: right;
    margin-bottom: 20px;
    background-img-opacity: 0.4;
}

.PlayerInformation
{
    flow-children: down;
    margin-left: 10px;
    vertical-align: center;
}

.PlayerName
{
    font-weight: semi-bold;
    font-size: 24px;
    color: white;
    vertical-align: center;
}

.PlayerReadyOff
{
    width: 27px;
    height: 27px;
    background-image: url("file://{images}/hero_selection/unready_icon.png");
    background-size: 100%;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 20px;
}

.PlayerReady
{
    width: 31px;
    height: 24px;
    background-image: url("file://{images}/hero_selection/ready_icon.png");
    background-size: 100%;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 20px;
}

.PlayerPanel_style_0
{
    background-image: url("file://{images}/hero_selection/player_bg_1.png");
    background-size: 100%;
}

.PlayerPanel_style_1
{
    background-image: url("file://{images}/hero_selection/player_bg_2.png");
    background-size: 100%;
}

.PlayerPanel_style_2
{
    background-image: url("file://{images}/hero_selection/player_bg_3.png");
    background-size: 100%;
}

.PlayerPanel_style_3
{
    background-image: url("file://{images}/hero_selection/player_bg_4.png");
    background-size: 100%;
}

.PlayerPanel_style_4
{
    background-image: url("file://{images}/hero_selection/player_bg_5.png");
    background-size: 100%;
}

.PlayerPanel_style_5
{
    background-image: url("file://{images}/hero_selection/player_bg_6.png");
    background-size: 100%;
}

.ItemBG
{
    width: 1012px;
    height: 99px;
    background-image: url("file://{images}/hud_abilities/item_bg.png");
    background-size: 100%;
    vertical-align: bottom;
    margin-left: 220px;
}

.HealthBG
{
    width: 239px;
    height: 49px;
    background-image: url("file://{images}/hud_abilities/health_bg.png");
    background-size: 100%;
    vertical-align: bottom;
    margin-left: 35px;
}

.BorderLeft
{
    width: 37px;
    height: 100px;
    background-image: url("file://{images}/hud_abilities/left_border.png");
    background-size: 100%;
    vertical-align: bottom;
}

.HeroHealthPoints
{
    width: 176px;
    height: 13px;
    margin-left: 55px;
    vertical-align: bottom;
    margin-bottom: 25px;
    z-index: 10;
    background-color: gradient(
        linear,
        0% 0%,
        0% 100%,
        from(#17200d),
        color-stop(0.2, #222e13),
        color-stop(0.5, #1e2911),
        to(#17200d)
    );
}

.HeroHealthPointsBurner
{
    width: 100%;
    height: 100%;
    transition-property: width;
    transition-duration: 0.2s;
    background-color: gradient(linear,0% 0%,0% 100%,from(#29bb29),color-stop(0.2, #43b83b),color-stop(0.5, #1b881d),to(#175d17));
}

.HeroHealthPointsLabel
{
    align: center center;
    color: white;
    font-weight: semi-bold;
    font-size: 12px;
    text-shadow: 0px 0px 0px 2 black; 
}

.PlayerAbility
{
    vertical-align: center;
    margin-right: 10px;
}

.local_ability_bg
{
    width: 66px;
    height: 66px;
    background-image: url("file://{images}/hud_abilities/ability_frame.png");
    background-size: 100%;
    z-index: 10;
}

.local_ability_image
{
    width: 66px;
    height: 66px;
}

.local_ability_button
{
    min-width: 15px;
    height: 15px;
    border: 1px solid #7d297d;
    border-radius: 2px;
    background-color: black;
    z-index: 11;
}

.local_ability_button_text
{
    align: center center;
    color: white;
    text-align: center;
}

.ChestNotification
{
    width: 600px;
    height: 300px;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 15%;
    flow-children: down;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.NotificationHeader
{
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,0.8);
}

.NotificationChestLabel
{
    align: center center;
    color: #efd9f7;
    font-weight: semi-bold;
    font-size: 42px;
    text-shadow: 0px 0px 4px 2 #704793; 
    text-transform: uppercase;
}

.NotificationLabelWithIcon
{
    flow-children: right;
    margin-top: 20px;
    width: 100%;
    height: 196px;
}

.NotificationIconChest
{
    width: 196px;
    height: 196px;
    background-image: url("file://{images}/notification/chest.png");
    background-size: 100%;
}

.NotificationLabelDescription
{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    background-color: rgba(0,0,0,0.8);
    text-align: left; 
    color: rgba(255, 255, 255, 0.75);
    font-size: 24px;
    padding-left: 20px;
    padding-top: 20px;
}

.ChestNotificationIsOpened
{
    width: 600px;
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 15%;
    flow-children: down;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
}

.NotificationButtons
{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.8);
    flow-children: right;
}

.ButtonsNotAlign
{
    horizontal-align: right;
    flow-children: right;
}

.ButtonNoNotification
{
    border: 1px solid white;
    border-brush: gradient(radial, 0% 0%, 2% 10%, 100% 100%, from(rgba(207, 33, 33, 0.63)), to(rgba(254, 151, 151, 0)));
	background-color: gradient(linear, 0% 0%, 0% 100%, from(rgba(44, 18, 18, 0.7)), to(rgba(59, 26, 26, 0.4)));
    height: 45px;
    width: 150px;
    vertical-align: center;
    margin: 5px;
    transition-property: brightness;
    transition-duration: 0.2s;
}

.ButtonYesNotification
{
    border: 1px solid white;
    border-brush: gradient(radial, 0% 0%, 2% 10%, 100% 100%, from(rgba(33, 207, 62, 0.63)), to(rgba(151, 254, 168, 0.089)));
	background-color: gradient(linear, 0% 0%, 0% 100%, from(rgba(18, 44, 22, 0.7)), to(rgba(30, 59, 26, 0.4)));
    height: 45px;
    width: 150px;
    vertical-align: center;
    margin: 5px;
    transition-property: brightness;
    transition-duration: 0.2s;
}

.ButtonNoNotification:hover
{
    brightness: 1.5;
}

.ButtonYesNotification:hover
{
    brightness: 1.5;
}

.ButtonNoNotification Label
{
    align: center center;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 16px;
}
.ButtonYesNotification Label
{
    align: center center;
    color: white;
    font-weight: semi-bold;
    text-transform: uppercase;
    font-size: 16px;
}

.ArrowCase
{
    width: 150px;
    height: 150px;
    align: center center;
    margin-top: 150px;
    visibility: collapse;
}

.ArrowCase2
{
    width: 150px;
    height: 150px;
    align: center center;
    margin-bottom: 250px;
    transform: rotateZ(195deg);
    visibility: collapse;
}

.ArrowCase3
{
    width: 150px;
    height: 150px;
    margin-bottom: 200px;
    margin-right: 200px;
    align: center center;
    transform: rotateZ(135deg);
    visibility: collapse;
}

.ArrowCase4
{
    width: 150px;
    height: 150px;
    align: center center;
    margin-bottom: 220px;
    margin-left: 100px;
    transform: rotateZ(200deg);
    visibility: collapse;
}

.ArrowCase5
{
    width: 150px;
    height: 150px;
    margin-bottom: 300px;
    align: center center;
    transform: rotateZ(180deg);
    visibility: collapse;
}

.ArrowCase6
{
    width: 150px;
    height: 150px;
    align: center center;
    margin-bottom: 100px;
    margin-left: 200px;
    transform: rotateZ(270deg);
    visibility: collapse;
}

.ArrowHover:hover
{
    brightness: 2;
}