.PummelGameHud
{
    width: 100%;
    height: 100%;
}

.HubLobbyHud
{
    width: 100%;
    height: 100%;
}

.PlayersList
{
    flow-children: down;
    margin-top: 140px;
    margin-left: 10px;
}

.player_panel
{
    flow-children: none;
    margin-bottom: 10px;
}

.player_portrait
{
    width: 100px;
    height: 119px;
    background-image: url("file://{images}/players_scores/player_bg.png");
    background-size: 100%;
}

.player_info
{
    width: 300px;
    height: 75px;
    margin-top: 16px;
    background-image: url("file://{images}/players_scores/interface_1.png");
    background-size: 100%;
    margin-left: 64px;
}

.player_info_style_0
{
    background-image: url("file://{images}/players_scores/interface_1.png");
    background-size: 100%;
}
.player_info_style_1
{
    background-image: url("file://{images}/players_scores/interface_2.png");
    background-size: 100%;
}
.player_info_style_2
{
    background-image: url("file://{images}/players_scores/interface_3.png");
    background-size: 100%;
}
.player_info_style_3
{
    background-image: url("file://{images}/players_scores/interface_4.png");
    background-size: 100%;
}
.player_info_style_4
{
    background-image: url("file://{images}/players_scores/interface_5.png");
    background-size: 100%;
}

.player_name_bg
{
    width: 100px;
    height: 35px;
    vertical-align: bottom;
    margin-bottom: 15px;
    background-image: url("file://{images}/players_scores/name_bg.png");
    background-size: 100%;
}

.player_name_label
{
    align: center center;
    font-weight: semi-bold;
    font-family: Radiance;
    font-size: 16px;
    margin-bottom: 8px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: gradient( linear, 0% 0%, 0% 100%, from( #f2c954 ), to( #db7e31 ) );
    text-overflow: clip;
}

.hero_image_interface
{
    width: 80px;
    height: 100px;
    align: center center;
    opacity-mask: url("file://{images}/players_scores/hero_mask.png");
}

.player_keys_panel
{
    flow-children: right;
    margin-top: 10px;
    margin-left: 55px;
}

.player_key_image
{
    width: 24px;
    height: 22px;
    background-image: url("file://{images}/players_scores/key.png");
    background-size: 100%;
}

.player_key_quad
{
    vertical-align: center;
    font-size: 20px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #f2c954 ), to( #db7e31 ) );
    margin-left: 10px;
    font-weight: bold;
}

.player_key_count
{
    font-size: 20px;
    font-weight: semi-bold;
    color: white;
    margin-left: 5px;
}

.player_rewards_panel
{
    flow-children: right;
    margin-top: 10px;
    margin-left: 145px;
}

.player_reward_image
{
    width: 24px;
    height: 22px;
    background-image: url("file://{images}/players_scores/reward.png");
    background-size: 100%;
}

.player_reward_quad
{
    vertical-align: center;
    font-size: 20px;
    color: gradient( linear, 0% 0%, 0% 100%, from( #f2c954 ), to( #db7e31 ) );
    margin-left: 10px;
    font-weight: bold;
}

.player_reward_count
{
    font-size: 20px;
    font-weight: semi-bold;
    color: white;
    margin-left: 5px;
}

.player_health_line_main
{
    width: 112px;
    height: 22px;
    margin-left: 32px;
    vertical-align: bottom;
    margin-bottom: 10px;
    transform: skew(-20deg);
}

.player_health_line
{
    width: 100%;
    height: 100%;
    transition-property: width;
    transition-duration: 0.2s;
    background-color: rgb(30, 224, 30);
}

.player_health_label
{
    font-weight: bold;
    font-family: Reaver;
    align: center center;
    z-index: 10;
    font-size: 14px;
    transform: skew(20deg);
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 0px 0px 0px 3 black; 
}

// Game info
.GameInfo
{
    flow-children: down;
    horizontal-align: right;
    margin-top: 50px;
}

.ProgressCount
{
    flow-children: right;
}

.ProgressCountHeader
{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100px;
    height: 40px;
}

.ProgressCountHeaderLabel
{
    align: center center;
    font-weight: semi-bold;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 0px 3 black; 
}

.ProgressCountMain
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 40px;
}

.ProgressCountMainLabel
{
    align: center center;
    font-weight: semi-bold;
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 0px 3 black; 
}

.PlayersMoveCount
{
    flow-children: right;
    margin-top: 7px;
}

.PlayersMoveCountHeader
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 45px;
}

.PlayersMoveCountMain
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 45px;
    flow-children: right-wrap;
}

.ProgressCountMainLabelMini
{
    align: center center;
    text-align: center;
    font-weight: semi-bold;
    color: white;
    font-size: 14px;
    text-shadow: 0px 0px 0px 2 black; 
}

.player_queue_block
{
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid black;
}

.time_notification
{
    font-size: 64px;
    color: white;
    font-weight: semi-bold;
    horizontal-align: center;
    margin-top: 20%;
    transition-property: pre-transform-scale2d, opacity;
    transition-duration: 0.2s;
    pre-transform-scale2d: 0;
    text-shadow: 0px 0px 0px 2 black;
    opacity: 1;
}

.time_notification_low
{
    pre-transform-scale2d: 1;
}

.time_notification_close
{
    opacity: 0;
}

// Hud
.GameHudInterface
{
    vertical-align: bottom;
    flow-children: right;
    horizontal-align: center;
}

.HeroNameAndPortrait
{
    horizontal-align: center;
    vertical-align: bottom;
    margin-bottom: 20px;
    flow-children: down;
    width: 180px;
}

.HudHeroPortrait
{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    box-shadow: 0px 0px 12px 1px black;
    margin-top: 10px;
}

.HeroHudHeroName
{
    width: 100%;
    horizontal-align: center;
}

.PlayerAbilities
{
    width: 300px;
    height: 128px;
    vertical-align: center;
    margin-left: 20px;
}


// Mini Gamepre

.PreMiniGameHud
{
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/pre_minigame/bg.png");
    background-size: 100%;
    opacity: 0;
    transition-duration: 0.2s;
    transition-property: opacity;
}

.DesignLinePreGame
{
    horizontal-align: center;
    margin-top: 50px;
    width: 700px;
    height: 4px;
    background-color: #3fe010;
}

.PreGameInfoWindow
{
    horizontal-align: right;
    margin-top: 150px;
    margin-right: 250px;
}

.PreGameInfoBorder
{
    width: 683px;
    height: 396px;
    background-image: url("file://{images}/pre_minigame/video_border.png");
    background-size: 100%;
}

.PreGameInfoShadow
{
    width: 511px;
    height: 106px;
    background-image: url("file://{images}/pre_minigame/video_shadow.png");
    background-size: 100%;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 40px;
    opacity: 0.95;
}

.MiniGameInfoName
{
    color: #37fa0e;
    text-transform: uppercase;
    font-size: 28px;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 95px;
    text-align: center;
}

.MiniGameInfoDescription
{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    vertical-align: bottom;
    horizontal-align: center;
    margin-bottom: 65px;
}

.MiniGameInformationWarning
{
    vertical-align: bottom;
    horizontal-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 20px;
}

.InstructionBlockName
{
    background-color: rgba(34, 34, 34, 0.8);
    width: 670px;
    height: 80px;

    horizontal-align: right;
    margin-top: 150px;
    margin-right: 250px;
    margin-top: 600px;
}

.InstructionBlockDescription
{
    background-color: rgba(34, 34, 34, 0.8);
    width: 670px;
    height: 250px;
    horizontal-align: right;
    margin-top: 150px;
    margin-right: 250px;
    margin-top: 700px;
}

.InstructionName
{
    color: #37fa0e;
    font-family: Reaver;
    text-transform: uppercase;
    font-weight: semi-bold;
    font-size: 28px;
    vertical-align: center;
    horizontal-align: left;
    margin-left: 20px;
    text-align: center;
}

.InstructionDescription
{
    color: white;
    font-family: Reaver;
    text-transform: uppercase;
    font-weight: semi-bold;
    font-size: 14px;
    horizontal-align: left;
    margin-left: 30px;
    margin-top: 30px;
    width: 600px;
}

.MiniGamePreTimer
{
    horizontal-align: center;
    color: white;
    font-size: 28px;
    margin-top: 5px;
    font-weight: bold;
    font-family: Reaver;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 0px 3 black; 
}

.ReadyButton
{
    width: 357px;
    height: 78px;
    background-image: url("file://{images}/hero_selection/ready_button.png");
    background-size: 100%;
    vertical-align: bottom;
    horizontal-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
    transition-property: background-img-opacity;
    transition-duration: 0.2s;
    background-img-opacity: 0.3;
}

.ReadyButton:hover
{
    background-img-opacity: 0.6;
}

.ReadyButtonLabel
{
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: semi-bold;
    align: center center;
}

.PlayersListPreGame
{
    flow-children: down;
    margin-left: 100px;
    margin-top: 100px;
}

.PlayerPanel
{
    width: 360px;
    height: 72px;
    background-image: url("file://{images}/hero_selection/player_bg_1.png");
    background-size: 100%;
    flow-children: right;
    margin-bottom: 20px;
    background-img-opacity: 0.4;
}

.PlayerInformation
{
    flow-children: down;
    margin-left: 10px;
    vertical-align: center;
}

.PlayerName
{
    font-weight: semi-bold;
    font-size: 24px;
    color: white;
    vertical-align: center;
}

.PlayerReadyOff
{
    width: 27px;
    height: 27px;
    background-image: url("file://{images}/hero_selection/unready_icon.png");
    background-size: 100%;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 20px;
}

.PlayerReady
{
    width: 31px;
    height: 24px;
    background-image: url("file://{images}/hero_selection/ready_icon.png");
    background-size: 100%;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 20px;
}

.PlayerPanel_style_0
{
    background-image: url("file://{images}/hero_selection/player_bg_1.png");
    background-size: 100%;
}

.PlayerPanel_style_1
{
    background-image: url("file://{images}/hero_selection/player_bg_2.png");
    background-size: 100%;
}

.PlayerPanel_style_2
{
    background-image: url("file://{images}/hero_selection/player_bg_3.png");
    background-size: 100%;
}

.PlayerPanel_style_3
{
    background-image: url("file://{images}/hero_selection/player_bg_4.png");
    background-size: 100%;
}

.PlayerPanel_style_4
{
    background-image: url("file://{images}/hero_selection/player_bg_5.png");
    background-size: 100%;
}

.PlayerPanel_style_5
{
    background-image: url("file://{images}/hero_selection/player_bg_6.png");
    background-size: 100%;
}